<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tan.dao.TanUserDao">
    <sql id="userField">
        a.id as "id",
        a.name as "name",
        a.password as "password"
    </sql>
    <!-- 获取所有用户 -->
    <select id="findAll" resultType="com.tan.model.TanUser">
        select
        <include refid="userField"/>
        from tan_user as a
    </select>
</mapper>